In [8]:
import torch
import torchvision
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf

%config InlineBackend.figure_format = 'svg' 
plt.style.use('seaborn')

In [9]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)

    except RuntimeError as e:
        print(e)

In [10]:
ratings_data = pd.read_csv('./ml-latest-small/ratings.csv')
movie_names_data = pd.read_csv('./ml-latest-small/movies.csv')

In [11]:
n_movies = len(movie_names_data)
n_user = len(ratings_data['userId'].unique())

In [12]:
ratings_data = pd.merge(ratings_data, movie_names_data, on='movieId', how='inner')

In [13]:
ratings_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [14]:
# us = ratings_data[ratings_data['userId'] == 1]
# a = us[us['movieId'] == 1].loc[:, 'genres']

In [15]:
from sklearn.preprocessing import LabelEncoder
import random
Y = ratings_data.rating
user_enc = LabelEncoder()
movie_enc = LabelEncoder()
X = np.array([user_enc.fit_transform(ratings_data.userId),
              movie_enc.fit_transform(ratings_data.title)]).T

In [16]:
user_enc.classes_[4], movie_enc.classes_[8871]

(5, 'Toy Story (1995)')

In [17]:
# sorted(X[:, 0])

In [18]:
for x, y in zip(X[:10], Y[:10]):
    print(list(x), y)

[0, 8871] 4.0
[4, 8871] 4.0
[6, 8871] 4.5
[14, 8871] 2.5
[16, 8871] 4.5
[17, 8871] 3.5
[18, 8871] 4.0
[20, 8871] 3.5
[26, 8871] 3.0
[30, 8871] 5.0

In [19]:
movie_enc.classes_[8871]

'Toy Story (1995)'

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [21]:
num_users = len(X)
num_movies = len(X)

In [22]:
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Activation, Dropout
from keras.models import Model

def build_model():
    movie_input = Input(shape=[1], name="Book-Input")
    movie_embedding = Embedding(n_movies+1, 15, name="Book-Embedding")(movie_input)
    movie_vec = Flatten(name="Flatten-Books")(movie_embedding)

    user_input = Input(shape=[1], name="User-Input")
    user_embedding = Embedding(n_user+1, 15, name="User-Embedding")(user_input)
    user_vec = Flatten(name="Flatten-Users")(user_embedding)
    
    prod = Dot(name="Dot-Product", axes=1)([user_vec, movie_vec])
    
    prod = Dense(32)(prod)
    prod = Activation('relu')(prod)
    prod = Dropout(0.5)(prod)

    prod = Dense(16)(prod)
    prod = Activation('relu')(prod)
    prod = Dropout(0.5)(prod)
    prod = Dense(1)(prod)


    model = Model([user_input, movie_input], prod)
    model.compile('adam', 'mean_squared_error', metrics=['accuracy'])

    return model


model = build_model()

Using TensorFlow backend.

In [27]:
model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath='./checkpoint',
    save_weights_only=True,
    monitor='val_loss',
    mode='min',
    save_best_only=True,
    verbose=1)

history = model.fit([X_train[:, 0], X_train[:, 1]], Y_train, 
            epochs=15, 
            verbose=1,
            batch_size=64, 
            validation_data=([X_test[:, 0], X_test[:, 1]], Y_test), 
            callbacks=[model_checkpoint_callback])

Train on 80668 samples, validate on 20168 samples
Epoch 1/15
80668/80668 [==============================] - 4s 50us/step - loss: 0.3617 - accuracy: 0.4531 - val_loss: 0.9588 - val_accuracy: 0.2940

Epoch 00001: val_loss improved from inf to 0.95883, saving model to ./checkpoint
Epoch 2/15
80668/80668 [==============================] - 4s 53us/step - loss: 0.3533 - accuracy: 0.4562 - val_loss: 0.9869 - val_accuracy: 0.2993

Epoch 00002: val_loss did not improve from 0.95883
Epoch 3/15
80668/80668 [==============================] - 5s 58us/step - loss: 0.3543 - accuracy: 0.4575 - val_loss: 0.9794 - val_accuracy: 0.2917

Epoch 00003: val_loss did not improve from 0.95883
Epoch 4/15
80668/80668 [==============================] - 4s 50us/step - loss: 0.3523 - accuracy: 0.4583 - val_loss: 0.9801 - val_accuracy: 0.2926

Epoch 00004: val_loss did not improve from 0.95883
Epoch 5/15
80668/80668 [==============================] - 4s 54us/step - loss: 0.3488 - accuracy: 0.4585 - val_loss: 0.9711 - val_accuracy: 0.2953

Epoch 00005: val_loss did not improve from 0.95883
Epoch 6/15
80668/80668 [==============================] - 4s 50us/step - loss: 0.3479 - accuracy: 0.4603 - val_loss: 0.9846 - val_accuracy: 0.2965

Epoch 00006: val_loss did not improve from 0.95883
Epoch 7/15
80668/80668 [==============================] - 4s 50us/step - loss: 0.3438 - accuracy: 0.4634 - val_loss: 0.9814 - val_accuracy: 0.2933

Epoch 00007: val_loss did not improve from 0.95883
Epoch 8/15
80668/80668 [==============================] - 4s 47us/step - loss: 0.3419 - accuracy: 0.4615 - val_loss: 0.9771 - val_accuracy: 0.2952

Epoch 00008: val_loss did not improve from 0.95883
Epoch 9/15
80668/80668 [==============================] - 4s 44us/step - loss: 0.3392 - accuracy: 0.4648 - val_loss: 0.9804 - val_accuracy: 0.2930

Epoch 00009: val_loss did not improve from 0.95883
Epoch 10/15
80668/80668 [==============================] - 3s 43us/step - loss: 0.3405 - accuracy: 0.4654 - val_loss: 0.9869 - val_accuracy: 0.2926

Epoch 00010: val_loss did not improve from 0.95883
Epoch 11/15
80668/80668 [==============================] - 3s 42us/step - loss: 0.3390 - accuracy: 0.4652 - val_loss: 0.9905 - val_accuracy: 0.2931

Epoch 00011: val_loss did not improve from 0.95883
Epoch 12/15
80668/80668 [==============================] - 4s 46us/step - loss: 0.3332 - accuracy: 0.4688 - val_loss: 0.9804 - val_accuracy: 0.2892

Epoch 00012: val_loss did not improve from 0.95883
Epoch 13/15
80668/80668 [==============================] - 3s 43us/step - loss: 0.3289 - accuracy: 0.4700 - val_loss: 1.0031 - val_accuracy: 0.2917

Epoch 00013: val_loss did not improve from 0.95883
Epoch 14/15
80668/80668 [==============================] - 4s 44us/step - loss: 0.3294 - accuracy: 0.4724 - val_loss: 1.0032 - val_accuracy: 0.2904

Epoch 00014: val_loss did not improve from 0.95883
Epoch 15/15
80668/80668 [==============================] - 3s 43us/step - loss: 0.3257 - accuracy: 0.4742 - val_loss: 0.9999 - val_accuracy: 0.2934

Epoch 00015: val_loss did not improve from 0.95883

In [ ]:
X_test[:5], Y_test[:5]

In [ ]:
predictions = model.predict([X_test[:5, 0], X_test[:5, 1]])

In [ ]:
print(predictions,"\n\n", Y_test[:5].values)

In [26]:
movie_enc.classes_[4]

"'Til There Was You (1997)"

In [27]:
def predict_ratings(user_id, X_test):
    '''
    given user id predict all ratings for movies
    '''
    user_data = ratings_data[ratings_data['userId'] == user_id]
    movie_ids, movie_names, predictions, movie_genres = list(), list(), list(), list()
    i = 0
    for _id, movie_id in X_test:
        if user_id == X_test[i][0]:
            movie_ids.append(X_test[i, 1])
            movie_names.append(movie_enc.classes_[movie_id])
            # movie_genres.append(user_data[user_data['movieId'] == movie_id].loc[:, 'genres'].values[0])

            pred = model.predict([ np.array([X_test[i, 0]]), np.array([X_test[i, 1]]) ])
            predictions.append(pred[0][0])
        i += 1
    return movie_ids, movie_names, movie_genres, predictions

In [298]:
X_test

array([[ 413, 8216],
       [ 297, 8032],
       [ 543, 1727],
       ...,
       [ 437, 5512],
       [ 593, 2770],
       [ 369, 9119]])

In [296]:
ratings_data[ratings_data['userId'] == 413]

,userId,movieId,rating,timestamp,title,genres
2035,413,296,5.0,1484439565,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3119,413,457,5.0,1484439876,"Fugitive, The (1993)",Thriller
3711,413,527,5.0,1484439759,Schindler's List (1993),Drama|War
4496,413,593,5.0,1484439762,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
5293,413,736,5.0,1484439991,Twister (1996),Action|Adventure|Romance|Thriller
7272,413,1198,1.0,1484439850,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure
7841,413,1213,4.5,1484439561,Goodfellas (1990),Crime|Drama
10902,413,2028,5.0,1484439998,Saving Private Ryan (1998),Action|Drama|War
11947,413,2329,5.0,1484439570,American History X (1998),Crime|Drama
12048,413,2353,5.0,1484440019,Enemy of the State (1998),Action|Thriller
12464,413,2502,5.0,1484439642,Office Space (1999),Comedy|Crime
13984,413,2858,1.0,1484439820,American Beauty (1999),Drama|Romance
14463,413,2959,5.0,1484439761,Fight Club (1999),Action|Crime|Drama|Thriller
15117,413,3147,5.0,1484439835,"Green Mile, The (1999)",Crime|Drama
16510,413,318,5.0,1484439483,"Shawshank Redemption, The (1994)",Crime|Drama
16702,413,1704,5.0,1484439833,Good Will Hunting (1997),Drama|Romance
17296,413,68157,5.0,1484439867,Inglourious Basterds (2009),Action|Drama|War
17363,413,71535,5.0,1484439903,Zombieland (2009),Action|Comedy|Horror
17825,413,99114,4.5,1484439606,Django Unchained (2012),Action|Drama|Western
18630,413,2424,3.5,1484440080,You've Got Mail (1998),Comedy|Romance
23763,413,3408,4.0,1484440063,Erin Brockovich (2000),Drama
24696,413,4239,5.0,1484439923,Blow (2001),Crime|Drama
27657,413,16,5.0,1484440002,Casino (1995),Crime|Drama
34103,413,1246,1.0,1484439859,Dead Poets Society (1989),Drama
35041,413,3916,5.0,1484439871,Remember the Titans (2000),Drama
36058,413,4993,5.0,1484439852,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
38543,413,8665,5.0,1484439902,"Bourne Supremacy, The (2004)",Action|Crime|Thriller
41379,413,7293,5.0,1484440084,50 First Dates (2004),Comedy|Romance
41955,413,51662,5.0,1484440066,300 (2007),Action|Fantasy|War|IMAX
42047,413,54286,4.5,1484439679,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller
44148,413,2002,5.0,1484440118,Lethal Weapon 3 (1992),Action|Comedy|Crime|Drama
44520,413,2694,5.0,1484440071,Big Daddy (1999),Comedy
44813,413,3624,5.0,1484439965,Shanghai Noon (2000),Action|Adventure|Comedy|Western
44928,413,3753,5.0,1484439911,"Patriot, The (2000)",Action|Drama|War
45493,413,858,5.0,1484439756,"Godfather, The (1972)",Crime|Drama
46395,413,4022,4.5,1484440209,Cast Away (2000),Drama
46772,413,8644,2.5,1484439953,"I, Robot (2004)",Action|Adventure|Sci-Fi|Thriller
49093,413,1207,5.0,1484439771,To Kill a Mockingbird (1962),Drama
50612,413,1221,4.5,1484439559,"Godfather: Part II, The (1974)",Crime|Drama
52481,413,2706,3.0,1484440050,American Pie (1999),Comedy|Romance
53060,413,4262,5.0,1484439749,Scarface (1983),Action|Crime|Drama
53152,413,4816,0.5,1484440324,Zoolander (2001),Comedy
53353,413,5574,5.0,1484440098,"Transporter, The (2002)",Action|Crime
53667,413,6373,5.0,1484440101,Bruce Almighty (2003),Comedy|Drama|Fantasy|Romance
53729,413,6378,5.0,1484439929,"Italian Job, The (2003)",Action|Crime
55963,413,64957,5.0,1484440130,"Curious Case of Benjamin Button, The (2008)",Drama|Fantasy|Mystery|Romance
56110,413,69122,5.0,1484440007,"Hangover, The (2009)",Comedy|Crime
64905,413,3948,4.5,1484439512,Meet the Parents (2000),Comedy
65319,413,4299,5.0,1484439931,"Knight's Tale, A (2001)",Action|Comedy|Romance
70734,413,35836,5.0,1484440121,"40-Year-Old Virgin, The (2005)",Comedy|Romance
73561,413,51935,5.0,1484439959,Shooter (2007),Action|Drama|Thriller
74130,413,1792,5.0,1484440151,U.S. Marshals (1998),Action|Crime|Thriller
75674,413,4890,5.0,1484440124,Shallow Hal (2001),Comedy|Fantasy|Romance
76115,413,128360,3.0,1484440311,The Hateful Eight (2015),Western
77983,413,53993,0.5,1484440320,Evan Almighty (2007),Comedy|Fantasy
78847,413,97304,5.0,1484439652,Argo (2012),Drama|Thriller

In [288]:
user_id = 40
movie_ids, movie_names, movie_genres, predictions = predict_ratings(user_id, X_test)

2791

IndexError: index 0 is out of bounds for axis 0 with size 0

In [215]:
dictionary = {"user_id": [user_id]*len(movie_ids),
              "movie_id": movie_ids,
              "movie_name":movie_names,
              "ratings":predictions 
              }

In [216]:
prediction_dataframe = pd.DataFrame.from_dict(dictionary, orient='index').transpose()
prediction_dataframe.sort_values('ratings', ascending=False)

   user_id movie_id                                    movie_name  ratings
8       40     5484                           Mary and Max (2009)  4.75105
36      40     4413                           Intouchables (2011)  4.67731
31      40     7073                    Requiem for a Dream (2000)  4.42205
12      40     6865                           Pulp Fiction (1994)  4.37195
0       40     2791  Eternal Sunshine of the Spotless Mind (2004)  4.32208
38      40     9407                               Whiplash (2014)  4.27964
27      40      563                         Apocalypse Now (1979)  4.25545
34      40     9442                  Whole Nine Yards, The (2000)  4.24181
11      40      405                        American Beauty (1999)  4.24065
4       40     2940                                  Fargo (1996)   4.2274
28      40     5840                              Mr. Deeds (2002)  4.17512
15      40     6856                                 Psycho (1960)  4.08983
5       40     6608                           Pianist, The (2002)  4.08198
29      40     8328                            Taxi Driver (1976)   4.0762
32      40     2874                         Eyes Wide Shut (1999)  4.02458
25      40     4028                        Horrible Bosses (2011)  4.00758
26      40      916                              Bedazzled (2000)  3.98856
35      40     9381                When Harry Met Sally... (1989)  3.98356
22      40      880                             Beach, The (2000)  3.98076
13      40     6415                        P.S. I Love You (2007)  3.97331
3       40     7079                         Reservoir Dogs (1992)  3.97245
33      40     5370                             Maleficent (2014)  3.89837
14      40     5563                       Meet the Fockers (2004)  3.88707
23      40     4360                   Inglourious Basterds (2009)  3.87876
16      40     7542                       Sex and the City (2008)  3.84409
7       40      193                            About a Boy (2002)  3.52212
30      40     5503                            Match Point (2005)  3.49434
39      40     2591                                  Drive (2011)  3.48478
40      40      376                       Along Came Polly (2004)  3.24403
10      40     4136                     Hunt, The (Jagten) (2012)  3.16037
9       40     4454                            Island, The (2005)  3.16011
17      40     7292              Run Lola Run (Lola rennt) (1998)  3.13546
21      40     3011                             Fight Club (1999)  3.00039
1       40     6114                           Nightcrawler (2014)  2.96639
20      40     8885                          Trainspotting (1996)  2.93601
18      40     3010                   Fifty Shades of Grey (2015)  2.49096
37      40     6892              Pursuit of Happyness, The (2006)  2.40571
24      40     3033                           Finding Nemo (2003)  2.34878
6       40     8553                The Man from U.N.C.L.E. (2015)  2.34283
19      40     3282                        Full Monty, The (1997)  2.20808
2       40     5465                            Marley & Me (2008)  2.12661

   user_id movie_id                         movie_name  ratings
1       10     7761                 Sling Blade (1996)  4.67632
13      10     7680   Silence of the Lambs, The (1991)  4.54579
5       10     1337                  Braveheart (1995)  4.40964
10      10     8363  Terminator 2: Judgment Day (1991)   4.3694
9       10     3279               Fugitive, The (1993)  4.28595
6       10     3529                   GoldenEye (1995)  3.99254
15      10     8779                     Titanic (1997)  3.94247
2       10     1828    Clear and Present Danger (1994)  3.90622
0       10     3508                    Godzilla (1998)  3.45628
4       10     8949                   True Lies (1994)  3.22529
8       10     4501                 Jackal, The (1997)  3.22038
12      10     4517        Jane Austen's Mafia! (1998)  3.13162
3       10     7205                   Rock, The (1996)  3.07568
14      10      591                  Armageddon (1998)  2.59291
11      10     5032             Lethal Weapon 4 (1998)  2.24657
7       10     9045                 Under Siege (1992)  2.08165